html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  background-color: #ffffff;

  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* navigation */
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

  /* наведение */
.site-navigation a:hover {
  color: #81b3d2;
}

  /* нажатие, фокус */
.site-navigation a:active, .site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

  /* активный пункт меню */
.site-navigation .active {
  color: #766357;
}

.intro h1 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.intro p {
  line-height: 26px;
}

/* features main page */
.features {
  background-color: #ffffff;
}

.features .lead {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.features .feature-item:not(.small-block) {
  color: #ffffff;
  background-color: #81b3d2;
}

.features .feature-item.small-block {
  background-color: #eeeeee;
}

.hints {
  background-color: #ffffff;
}

.hint-item {
  padding-top: 105px;
  text-align: center;
}

.hint-item.house {
  background: #ffffff url('../img/hints-house.svg') no-repeat center 4px;
}

.hint-item.food {
  background: #ffffff url('../img/hints-food.svg') no-repeat center 6px;
}

.hint-item.souvenirs {
  background: #ffffff url('../img/hints-souvenirs.svg') no-repeat center 0;
}

/* search hotel main page form */

.search-hotel .lead {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: bold;
}
.search-hotel p:not(.lead) {
  line-height: 24px;
}

.search-hotel .search-hotel-btn {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
}

.search-hotel .search-hotel-btn:hover {
  background-color: #604e43;
}

.search-hotel .search-hotel-btn:active, .search-hotel .search-hotel-btn:focus {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.search-hotel-input {
  font-weight: bold;
  line-height: 26px;
  text-align: left;
  color: #000000;
  background-color: #f2f2f2;
  border: 0;
}

.search-hotel-input:hover {
  background-color: #ebebeb;
}

.search-hotel-input:active, .search-hotel-input:focus {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
  outline: 0;
}

.search-hotel .submit-btn {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
}

.search-hotel .submit-btn:hover {
  background-color: #669ec0;
}

.search-hotel .submit-btn:active, .search-hotel .submit-btn:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

/* search form hotels page */

.search-hotel-form {
  color: #ffffff;
  background: #4d7fa9 url('../img/filter-background.jpg') no-repeat right center;
  background-size: 100%;
}

.search-hotel-form h3 {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.search-hotel-form .submit-btn {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.search-hotel-form .submit-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

/* results sort hotels page */

.search-results-sort .results-count {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;

}

.sort-list-direction, .sort-list {
  list-style: none;
}

.sort-list .button-sort, .sort-list-direction .button-sort-direction {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
  text-decoration: none;
}

.sort-list .button-sort:hover, .sort-list-direction .button-sort-direction:hover {
  color: #81b3d2;
}

.sort-list .button-sort:active, .sort-list .button-sort:focus, .sort-list-direction .button-sort-direction:active, .sort-list-direction .button-sort-direction:focus {
  color: #000000;
  border: 0;
}

.sort-list .active, .sort-list-direction .active {
  color: #81b3d2;
  text-decoration: none;
  border: 0;
}

/* search result hotels page */
.hotel-name {
  font-size: 21px;
  line-height: 26px;
}

.hotel-name a {
  text-decoration: none;
  color: #000000;
}

.hotel-name a:hover {
  color: #81b3d2;
}

.hotel-name a:active, .hotel-name a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.search-results-hotel .button-hotel-description {
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
  text-decoration: none;
}
.search-results-hotel .button-hotel-description:hover {
  background-color: #669ec0;
}

.search-results-hotel .button-hotel-description:active, .search-results-hotel .button-hotel-description:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.search-results-hotel .button-hotel-book {
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
  text-decoration: none;
}
.search-results-hotel .button-hotel-book:hover {
  background-color: #604e43;
}

.search-results-hotel .button-hotel-book:active, .search-results-hotel .button-hotel-book:focus {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.search-results-hotel .hotel-rating {
  list-style: none;
}

.hotel-rating .star {
  color: #81b3d2;
}

/* footer */

.main-footer div {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-social .social-btn {
  background: #81b3d2 no-repeat center center;
}

.footer-social .social-btn:hover {
  background-color: #669ec0;
}

.footer-social .social-btn:active, .footer-social .social-btn:focus {
  background-color: #5496bd;
}

.social-btn.twitter {
  background-image: url('../img/twitter.svg');
}

.social-btn.facebook {
  background-image: url('../img/fb-icon.svg');
}

.social-btn.youtube {
  background-image: url('../img/youtube.svg');
}
