html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  background-color: #ffffff;

  box-sizing: inherit;

  /*Убрать потом и обернуть все в отдельный div 1200px*/
  /* width: 1200px; */
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-header, .container, .main-footer {
  width: 1200px;
  margin: 0 auto;
}

/* navigation */

.main-header {
  position: relative;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
  padding: 0 72px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.site-navigation li:nth-child(1) {
  margin-right: 147px;
}

.site-navigation li:nth-child(2) {
  margin-right: 390px;
}

.site-navigation li:nth-child(3) {
  margin-right: auto;
}

.site-navigation a {
  display: block;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  padding: 15px 0;
}

  /* наведение */
.site-navigation a:hover {
  color: #81b3d2;
}

  /* нажатие, фокус */
.site-navigation a:active, .site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

  /* активный пункт меню */
.site-navigation .active {
  color: #766357;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 531px;
}

.container .intro-image {
  margin-bottom: 55px;
}

.intro {
  text-align: center;
  margin-bottom: 50px;
}

.intro h1, .intro p {
  margin: 0;
  padding: 0;
}

.intro h1 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 26px;
}

.intro p {
  line-height: 26px;
}

/* features main page */
.features {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
}

.features .lead {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.features .feature-item.small-block,
.hints .hint-item,
.feature-item .feature-text-wrapper {
  width: 400px;
}

.features .feature-item:not(.small-block) {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: #ffffff;
  background-color: #81b3d2;
  width: 1200px;
}

.features .feature-item.small-block {
  background-color: #eeeeee;
  min-height: 256px;
  text-align: center;
  padding-top: 48px;
}

.feature-item.small-block {
  justify-content: center;
  flex-direction: column;
}

.feature-item.small-block p {
  margin: 20px 0;
}

.feature-item:not(.small-block):not(:first-of-type) .feature-text-wrapper {
  order: 1;
}

.feature-item .feature-text-wrapper {
    text-align: center;
    padding-top: 51px;
}

.feature-text-wrapper p {
  margin: 20px 0;
}

.hints {
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.hint-item {
  padding-top: 163px;
  text-align: center;
  min-height: 330px;
}

.hint-item p {
  margin: 21px 0 0 0;
}

.hint-item.house {
  background: #ffffff url('../img/hints-house.svg') no-repeat center 61px;
}

.hint-item.food {
  background: #ffffff url('../img/hints-food.svg') no-repeat center 62px;
}

.hint-item.souvenirs {
  background: #ffffff url('../img/hints-souvenirs.svg') no-repeat center 57px;
}

/* search hotel main page form */

.search-hotel .lead {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: bold;
}
.search-hotel p:not(.lead) {
  line-height: 24px;
}

.search-hotel .search-hotel-btn {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
  display: block;
  width: 568px;
  height: 86px;
  text-align: center;
  text-decoration: none;
  padding-top: 33px;
  padding-bottom: 31px;
}

.search-hotel .search-hotel-btn:hover {
  background-color: #604e43;
}

.search-hotel .search-hotel-btn:active, .search-hotel .search-hotel-btn:focus {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.search-hotel-popup-form .search-hotel-input {
  font-weight: bold;
  line-height: 26px;
  text-align: left;
  color: #000000;
  background-color: #f2f2f2;
  border: 0;
}

.search-hotel-popup-form .search-hotel-input:hover {
  background-color: #ebebeb;
}

.search-hotel-popup-form .search-hotel-input:active, .search-hotel-popup-form .search-hotel-input:focus {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
  outline: 0;
}

.search-hotel-popup-form .submit-btn {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
  display: block;
  width: 458px;
  height: 58px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 18px;
  border: 0;
}

.search-hotel-popup-form .submit-btn:hover {
  background-color: #669ec0;
}

.search-hotel-popup-form  .submit-btn:active, .search-hotel-popup-form .submit-btn:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

/* search form hotels page */

.search-hotel-form {
  color: #ffffff;
  background: #4d7fa9 url('../img/filter-background.jpg') no-repeat right center;
  background-size: 100%;
}

.search-hotel-form h3 {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.search-hotel-form .submit-btn {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.search-hotel-form .submit-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

/* results sort hotels page */

.search-results-sort .results-count {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;

}

.sort-list-direction, .sort-list {
  list-style: none;
}

.sort-list .button-sort, .sort-list-direction .button-sort-direction {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
  text-decoration: none;
}

.sort-list .button-sort:hover, .sort-list-direction .button-sort-direction:hover {
  color: #81b3d2;
}

.sort-list .button-sort:active, .sort-list .button-sort:focus, .sort-list-direction .button-sort-direction:active, .sort-list-direction .button-sort-direction:focus {
  color: #000000;
  border: 0;
}

.sort-list .active, .sort-list-direction .active {
  color: #81b3d2;
  text-decoration: none;
  border: 0;
}

/* search result hotels page */
.hotel-name {
  font-size: 21px;
  line-height: 26px;
}

.hotel-name a {
  text-decoration: none;
  color: #000000;
}

.hotel-name a:hover {
  color: #81b3d2;
}

.hotel-name a:active, .hotel-name a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.search-results-hotel .button {
  height: 27px;
  text-align: center;
  vertical-align: top;
  padding-top: 5px;
  padding-bottom: 4px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}

.search-results-hotel .button-hotel-description {
  background-color: #81b3d2;
  width: 110px;
  margin-right: 6px;
}
.search-results-hotel .button-hotel-description:hover {
  background-color: #669ec0;
}

.search-results-hotel .button-hotel-description:active, .search-results-hotel .button-hotel-description:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.search-results-hotel .button-hotel-book {
  background-color: #766357;
  width: 142px;
}
.search-results-hotel .button-hotel-book:hover {
  background-color: #604e43;
}

.search-results-hotel .button-hotel-book:active, .search-results-hotel .button-hotel-book:focus {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.search-results-hotel .hotel-rating {
  list-style: none;
}

.hotel-rating .star {
  color: #81b3d2;
}

/* footer */

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 50%;
  margin-left: -600px;
  width: 1200px;
  min-height: 120px;
}

.main-footer div {
  /* text-align: center; */
}

.footer-social-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer-social ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 150px;
  padding: 0;
  margin: 0;
}

.footer-social .social-btn {
  display: flex;
  width: 46px;
  height: 48px;
  justify-content: center;
  align-items: center;
  background-color: #81b3d2;
}

.footer-social .social-btn:hover {
  background-color: #669ec0;
}

.footer-social .social-btn:focus,
.footer-social .social-btn:active {
  background-color: #5496bd;
}

.social-btn:focus path,
.social-btn:active path {
  fill: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.copyright-logo:hover path {
  fill: #81b3d2;
}

.copyright-logo:focus path,
.copyright-logo:active path {
  fill: #bdbbbc;
}
